header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 520px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #d69722;
  background-image: url(http://www.transparenttextures.com/patterns/absurdity.png);

}

header h2 {
  font-weight: normal;
  /* this will ensure the overall text is not bold */
}

header h2 strong {
  font-weight: bold;
  /* this will make the text inside <strong> bold */
}