.new-tweet {
  text-align: center;
  width: 100%;
}

.new-tweet {
  display: flex;
  flex-direction: column;
}

/* decied whether to left or middle */
.new-tweet>h2 {
  text-align: left;
}

.tweet-input-group {
  display: flex;
  flex-direction: column;
}

.tweet-input-group>label {
  text-align: left;
  font-weight: 600;

}

.tweet-input-group>textarea {
  background-color: #f8f4ec;
  border: none;
  resize: none;
  border-bottom: 2px solid #007BFF;
  /* Color of the line, change as required */
  outline: none;
  /* Remove the default browser outline on focus */
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
}

.new-tweet-footer>button {
  font-family: 'Bungee', sans-serif;
  background-color: #007BFF;
  /* Blue color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;

  /* For a slight shadow effect */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.new-tweet-footer>button:hover {
  background-color: #0056b3;
  /* Darker blue */
  transform: scale(1.05);
  /* Slightly enlarge the button */
}


/* Button active (pressed) effect */
.blue-button:active {
  background-color: #004299;
  /* Even darker blue */
  transform: scale(0.95);
  /* Slightly shrink the button */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Slight change in shadow */
}

article.maketweet header p {
  font-weight: 600;
  text-align: center;
  border-bottom: 4px solid black;
  /* Adjust color and width as needed */
  padding-bottom: 10px;
  /* Add some space below the text, above the border */
  margin-top: 130px;
  /* Add some space above and below the bordered text */
}

article.maketweet .user-info {
  display: flex;
  align-items: center;
}



/* do the counter  */
article>footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

article>header {
  height: 330px;
}

article>footer>div>i:hover {
  color: red;
}


.maketweet {
  border: 5px solid black;
  /* Adjust the color and width as required */
  padding: 10px;
  /* Add some space inside the border */
  margin: 10px 0;
  /* Add some space outside the border */
  border-radius: 5px;
  /* To make the corners slightly rounded */
}